{% extends 'base.html.twig' %}

{% block title %}{{'reset_password.email_sent_page.title'|trans}}{% endblock %}
{% block header %}{% endblock %}
{% block content %}
    <p>
        {{'reset_password.email_sent_page.info'|trans}}<br />
        {% trans with {'%timeLimit%': resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') } %}reset_password.email_sent_page.link_expiration{% endtrans %}
    </p>
    <p>
        {{ 'reset_password.email_sent_page.help'|trans({'%url%': path('app_forgot_password_request')})|raw}}.
    </p>
{% endblock %}
