{% extends 'base.html.twig' %}

{% block title %}{% trans %}reset_password.page.title{% endtrans %}{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error|trans }}</div>
    {% endfor %}
    <h1>{% trans %}reset_password.page.title{% endtrans %}</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                {% trans %}reset_password.page.instructions{% endtrans %}
            </small>
        </div>

        <button class="btn btn-primary">{% trans %}reset_password.page.button{% endtrans %}</button>
    {{ form_end(requestForm) }}
{% endblock %}
