{% extends '@EasyAdmin/page/content.html.twig' %}

{% block main %}
    <h2 class="text-center">Benutzungsanleitung</h2>
    <h3>Rechnungen</h3>
    <p>Existierende Rechnungen können nicht geändert oder gelöscht werden. Stat dessen sollte eine Stornorechnung erstellt werden. Diese wird dann als Gutschrift behandelt.
        Fürs erste können nur Rechnungen fûr anderes als Buchungen und Gutscheine erstellt werden.</p>

{% endblock %}