{% extends 'base.html.twig' %}

{% block title %}{{ 'booking.confirmation'|trans }}{% endblock %}
{% block header %}{{ 'booking.confirmation'|trans }}{% endblock %}

{% block main %}
   <p> Your invoice has been sent to your email address. You can also download it by clicking the link below:
    <a href="{{ path('invoice_download', {'uuid': invoice.uuid}) }}">Download invoice</a></p>
{% endblock %}